.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container > div {
    margin: 0 auto;
    height: 10%;
}

.min-height {
    min-height: 80%;
}

.start {
    justify-content: flex-start;
}

.column {
    justify-content: flex-start;
    flex-direction: column;
}