.project_container {
    width: 100%;
    padding: 2rem;
}

.tittle_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card_container {
    flex-wrap: wrap;
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
}

.msg_erro_project {
    text-align: center;
    font-weight: bold;
    color: rgb(126, 123, 123);
}

