.project_card {
    position: relative;
    width: 280px;
    height: 200px;
    border: 1px solid #7a7a7a;
    padding: 0 2rem;
    border-radius: .6rem;
    margin: 0.1rem;
    display: flex;
    flex-direction: column;
}

.project_card > div {
    margin-bottom: 1rem;
}

.project_card span {
    font-weight: bold;
}

.card_title {
    word-wrap: break-word;
    margin-bottom: 1rem;
    color: #ffbb33;
    text-align: center;
    width: 100%;
    padding: 0.4rem 0.2rem;
    background-color: rgb(46, 42, 42);
    border-radius: 0px 0px 10px 10px;
}

.card_category {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container_icons {
    position: absolute;
    bottom: -1rem;
    right: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.icon {
    color: black;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 0.6rem;
    transition: 1s;
}

.icon:hover {
    border-radius: 2rem;
    font-size: 2.5rem;
    background-color: black;
    color: #ffbb33;
    transition: 0.8s;
}

.category_highlighter {
    background-color: #ccc;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    margin-right: .3rem;
}

.desenvolvimento {
    background-color: #ffaebc; 
}

.planejamento {
    background-color: #8de2df;
}

.design {
    background-color: #8ddf9d;
}

.infraestrutura {
    background-color: #ecd0a1;
}

.custom_modal {
    border-color: #fff;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    min-width: 30%;
    min-height: 30%;
    margin: 0 auto;
    border-radius: 2rem;
    box-shadow: 7px 10px 20px rgba(0, 0, 0, 0.61);
}
  
.custom_overlay {
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_container {
    border: none;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal_container h3 {
    margin-bottom: 1rem;
}

.container_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.buttons_modal {
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    padding: 0.3rem;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}